:root {
    --primary-color-50: #f1fcf3;
    --primary-color-100: #defae6;
    --primary-color-200: #bff3cc;
    --primary-color-300: #8de8a6;
    --primary-color-400: #64d884;
    --primary-color-500: #2dba54;
    --primary-color-600: #209942;
    --primary-color-700: #1c7937;
    --primary-color-800: #1b602f;
    --primary-color-900: #184f29;
    --primary-color-950: #082b13;
}